:root{
  --vertical-menu-width : 280px;
  --container-max-width : 1440px;
  --container-inline-padding: 12px;
}


.header-nav__categories__varticle-menu{
  width: var(--vertical-menu-width);
}
.custom-container{
  max-width: var(--container-max-width);
  padding-inline:var(--container-inline-padding);
  margin-inline: auto;
}

.header-nav__categories__mega-menu{
  min-width: calc(var(--container-max-width) - var(--vertical-menu-width));
  max-height: calc(100vh - 12rem);
  overflow-y: auto;
}

.header-main__inner {
  flex-wrap: nowrap;
}

@media (width < 1440px) {
  .custom-container{
    --container-max-width : 1140px;
  }  
}
@media (width < 1200px) {
  .custom-container{
    --container-max-width : 960px;
  }
  
}
@media (width < 992px) {
  .custom-container{
    --container-max-width : 720px;
  }
    .header-main__inner{
      flex-wrap: wrap;
    }
  .header-main__search{
    order: 3;
  }
  
}
@media (width < 768px) {
  .custom-container{
    --container-max-width : 540px;
  }
  
}
@media (width < 576px) {
  .custom-container{
    --container-max-width : 100%;
  }
  
}